{% extends 'frontend/base.html' %}
{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1 style="text-align: center; font-family: 'Patua One', cursive;"><strong> Welcome to Equipment Portal</strong></h1>
            <p style="text-align: center">A place where you can find equipents for all your projects</p>
        </div>
    </div>

    <h1 style="text-align: center; color: white;">{{ error_msg }}</h1>
    <div class="is-Responsive" >
            <form class="col-md-offset-3 col-md-6  form" role="search" method="get" action="{% url 'frontend:search' %}  ">
                <div class=" form-group" >
                    <input type="text" class="form-control" style="height: 50px; margin-top: 80px; font-size: large;" name="q" value="{{ request.GET.q }}">
                </div>
               <button type="submit" class="btn btn-success col-md-offset-5 btn-lg" >Search</button>
            </form>
    </div>
{% endblock %}
