{% extends 'frontend/base.html' %}
{% block title %}
    Log In
{% endblock %}
{% load staticfiles %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/login.css' %}"/>
{% endblock %}
{% block body %}
    <div class="container">
    <h4 style="color:red;"><span class="glyphicon glyphicon-user-key"></span> Log In</h4>
    <form role="form" mehod="post">
    <div class="form-group">
        <label for="username"><span class="glyphicon glyphicon-user"></span> Username</label>
        <input type="text" class="form-control" id="username" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
        <input type="password" class="form-control" id="psw" placeholder="Enter password">
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="" checked>Remember me</label>
    </div>
    <button type="submit" class="btn btn-default btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
</form>
    <div class="footer">
    <p>Not a member? <a href="#">Sign Up</a></p>
    <p>Forgot <a href="#">Password?</a></p>
</div>
</div>
{% endblock %}